@charset "utf-8";
body {
	margin:0;
	padding:0;
	background-color:#EEF2EF;
	color:#000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#wrapper {
	width: 980px;
	margin:0 auto;
	background-image:url(../images/basin_bg.jpg);
	background-repeat:no-repeat;
	background-color: #B4C4BA;
	border-left: #594431 solid 1px;
	border-right: #594431 solid 1px;
}
#header h1 {
	font-size: 66px;
	padding: 25px 0 0 340px;
	color: #003;
	margin: 0 0 .3em 0;
	text-shadow: 4px 4px 4px rgba(0,0,0,1);
}

/* Basic styles */
h2, h3 {
	font-size: 26px;
	color: #003;
	margin-top: 0px;
}
h3 {
	font-size:22px;
}
a {
	color:#91784F;
	font-weight:bold;
	text-decoration:none;
}
a:hover, a:active, a:focus {
	color:#B59D77;
	text-decoration:underline;
}
.floatleft {
	float:left;
	margin: 3px 12px 3px 0;
}
.floatright {
	float:right;
	margin:3px 0 3px 12px;
}

/* Main navigation */
#nav {
	list-style-type: none;
	margin: 0 auto 15px 35px;
	padding: 0;
	font-weight: bold;
	font-size: 17px;
	height: 35px;
}
#nav li {
	float: left;
	margin: 0 1px;
}
#nav li a {
	display: block;
	width:160px;
	padding: 10px;
	text-align:center;
	text-decoration: none;
	color: #FFF;
	background-color: #003;
}
#nav a:hover, #nav a:active, #nav a:focus {
	background-color:#26267F;
}

/* Main content on index page */
#hero {
	background-color: #FFF;
	background-image: url(../images/exterior.jpg);
	background-repeat: no-repeat;
	background-position: 340px center;
	width: 896px;
	padding: 20px;
	margin: 20px;
	border: #003 solid 2px;
	height:404px;
	min-height: 404px;
}
#hero h2 {
	padding-right: 600px;
}
#hero p {
	color: #003;
	padding-right: 600px;
	font-size: 15px;
}

/* Footer */
#footer {
	color: #FFF;
	background-color: #003;
	padding: 5px 30px;
	clear:both;
}
#footer p {
	font-size: 14px;
	margin: 0 0 5px 0;
}

/* Content containers on other pages */
.content-wide, .content-medium, .aside {
	background-color:#fff;
	padding:20px;
	margin: 20px;
	font-size: 14px;
}
.content-medium {
	float:left;
	width:640px;
	margin-top: 5px;
	display:inline; /* Fixes margin bug in IE 6 & 7 */
}
.aside {
	margin-left:720px;
	padding:10px;
}

/* Background images for individual sections */
#dining {
	background-image: url(../images/chef.jpg);
	background-repeat:no-repeat;
	background-position:left top;
	padding-top:140px;
}
#sake {
	background-image:url(../images/bakpia.jpg);
	background-repeat:no-repeat;
	background-position:bottom;
	padding-bottom:140px;
}
#blossom {
	background-image:url(../images/cherry_blossom.png);
	background-repeat:no-repeat;
	background-position:right top;
}
#blossom h3 {
	padding-right:100px;
}

/* Form elements */
form {
	margin-left:80px;
}
label {
	display:inline-block;
	font-weight:bold;
	width:130px;
}
fieldset {
	font-weight:bold;
	border:none;
	padding: 0;
	margin: 0;
}
fieldset label {
	width:80px;
	padding-left:50px;
}
select + label, input + label {
	padding-left:10px;
}
input[type=submit] {
	margin-left:135px;
}
.narrowField {
	width:50px;
}
